<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DLSU Reserve Settings</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="editprofile_design.css">
    
</head>
<body>
    <div class="wrapper">

        <div class="divider">.</div> <!--Eto lang yung divider sa may header part-->

        <!--SIDEBAR-->
        <div class="sidenav">
            <h1>DLSU Reserve</h1>

            <!--ICONS-->
            <ul>
                <li><a href="21Reservation_LocP" ><i class="large material-icons">event_note</i>Reserve</a></li> <!--SELECTED MENU-->
                <li><a href="PeopleStaff"><i class="large material-icons">group</i>People</a></li>
                <li><a href="BookingStaff"><i class="large material-icons">collections_bookmark</i>Bookings</a></li>
                <li><a href="editprofile_staff" class="selected"><i class="large material-icons">settings</i>Settings</a></li>
            </ul>
            <div class="logout">
                <a href="LoginStaff"><i class="large material-icons">exit_to_app</i>Log Out</a>
            </div>

            <!--PROFILE-->
            <div class="userprof">
                <a href="UserStaff.html"> <!--href will lead to user profile-->
                    <img class="placeholder-image" src="/common/Mimi.png" alt="Mimi Yhu">
                </a>
            </div>
            <div class="userred">
                <a href="UserStaff.html" class="usernamee"><b>Mimi Yhu</b></a> <!--href will lead to user profile-->
            </div>
            <div class="useremail">
                <span><h4>MimiY@dlsu.edu.ph</h4></span>
            </div>

        </div>

        <!--RESERVATION-->
        <div class="newres">
            <p>Settings</p>
        </div>
        <div class="reservation">
            <div class="location-selector">
                <a href="editprofile_staff" class="selector-option active" ><b>Edit Profile</b></a> <!--SELECTED LOCATION-->
                <a href="deleteprofilestaff" class="selector-option" id="delete">Account Deletion</a>
            </div>
        </div>
            
        <!--MAIN CONTENT-->
        <div class="main-content">
            <div class="profile-section">
                <div class="profile-photo">
                    <img src="/common/Mimi.png" alt="Profile Picture">
                <div><button type="button">Change Photo</button></div>
                </div>
                <form action="profile_staff" method="post">
                    <div class="form-group">
                        <label for="fullName">Full Name</label><br>
                        <input type="text" id="fullName" name="name2" value="Mimi Yhu">
                    </div>
                    <div class="form-group">
                        <label for="contactNumber">Contact Number</label>
                        <input type="text" id="contactNumber" name="number2" value="09198765432">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email2" value="MimiY@dlsu.edu.ph">
                    </div>
                    <div class="form-group">
                        <label for="description" >Description</label>
                        <textarea id="description"name="description2">I am an organized, efficient and hard working person, and am willing to discover and accept new ideas which can be put into practice effectively. I am a good listener and learner, able to communicate well with a group and on an individual level. I participated in a study abroad program...</textarea>
                    </div>
                    <button type="submit">Save Changes</button>
                </form>
            </div>

    </div>
</body>
</html>
