<!DOCTYPE html>
<html lang="en">
<head>
<title>Login Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">    
<style>
   
</style>
</head>
<body>
<div class="starter-page">
    <div class="login-area">
        <img src="/images/DLSU-LOGO.png" alt="DLSU"/>
        <div class="login-title">
            <strong>Login Staff</strong>
        </div>
        <form action="21Reservation_LocP" method="get">
        <div class="login-textfield">
            <input type="text" placeholder="email@dlsu.edu.ph">
            <input type="password" placeholder="Password">
        </div>
        <div class="checkbox-area">
            <input type="checkbox"> Remember Me
            <input type="checkbox"> Forgot Password?
        </div>
        <button type="submit" class="button">Login</button>
        </form>
        <div class="login-bottomtext">
            Don't have an account? <strong><a href="RegisterStudent.html">Sign Up</a></strong>
        </div>
    </div>
</div>  
</body>
</html>

